<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easeui.app">

    <application
        android:name=".Mapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".module.main.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--病人问诊页面-->
        <activity
            android:name=".module.patient.ui.PatientInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.PatientInquiry"
            android:windowSoftInputMode="adjustResize" />

        <!--医生问诊页面-->
        <activity
            android:name=".module.doctor.ui.DoctorInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.DoctorInquiry"
            android:windowSoftInputMode="adjustResize" />

        <!--会话页面-->
        <activity
            android:name=".module.converstaion.ui.ConverstationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EaseAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!--单人聊天页面-->
        <activity
            android:name=".module.chat.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Chat"
            android:windowSoftInputMode="adjustResize" />

        <!--####################################环信#########################################-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1102180813177302#testdemo" />

        <!--####################################文件权限#########################################-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

    </application>

</manifest>